# Node modules
node_modules/

# Cypress screenshots e vídeos gerados
cypress/screenshots/
cypress/videos/

# Allure results
allure-results/
allure-report/

# Ambiente e configs locais
.env
.env.local
.DS_Store

# Cache do Cypress
.cypress_cache/
CypressDownloads/

# Arquivos de log
*.log

# Configs do editor
.vscode/
.idea/

# Arquivos de sistema
Thumbs.db
