node_modules/
allure-results/
allure-report/
cypress/downloads/
cypress/screenshots/
cypress/videos/
package-lock.json
yarn.lock
.cache/
.cypress_cache/
.vscode/
.idea/
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
